In [1]:
import pandas as pd
import os
from IPython.display import display

In [2]:
data_dir = '../data/remove_duplicated_training_data.csv'
data = pd.read_csv(data_dir, encoding='utf-8')
display(data.head())

,content,title
0,This was the year that felt like 50 years. We ...,21 Stories Our Readers Loved in 2017
1,Gary Vaynerchuk once told a 20 year old Taylor...,What To Do After Graduating College
2,"On this episode of Recode Decode, hosted by Ka...",Full transcript: Former Groupon CEO Andrew Mas...
3,Today we are going to talk about the Albigensi...,The Albigensian Crusade And The Black Mass
4,IntroductionThe more you want to impact the re...,The Surprising Secret To Changing The World

In [3]:
data['id'] = range(len(data))

In [4]:
display(data.head(n=2))

,content,title,id
0,This was the year that felt like 50 years. We ...,21 Stories Our Readers Loved in 2017,0
1,Gary Vaynerchuk once told a 20 year old Taylor...,What To Do After Graduating College,1

In [5]:
display(len(data))
display(data.head(n=3))
# to split the data to train, dev datasets and submit the test datasets later,
train_data = data[:-20000]
val_data = data[-20000:]
train_data.to_csv('../data/train_data.csv', encoding='utf-8', index=False)
val_data.to_csv('../data/val_data.csv', encoding='utf-8', index=False)
display(val_data.head(n=2))

424847

,content,title,id
0,This was the year that felt like 50 years. We ...,21 Stories Our Readers Loved in 2017,0
1,Gary Vaynerchuk once told a 20 year old Taylor...,What To Do After Graduating College,1
2,"On this episode of Recode Decode, hosted by Ka...",Full transcript: Former Groupon CEO Andrew Mas...,2

,content,title,id
404847,A property in Yeovil has been slapped with a c...,Police slap Yeovil property on Fosse Park Road...,404847
404848,Focus Features/Sony Pictures Classics Gary Old...,2018 Oscars: Can Timothee Chalamet pull off up...,404848

In [6]:
test_data = pd.read_json('../data/bytecup.corpus.validation_set.txt', lines=True)
display(test_data.head())

                                             content  id
0  When someone commits a murder they typically g...   1
1  James Milner may not be one of the most exciti...   2
2  Making fun of people can be a sign that you tr...   3
3  There are days when the forces that be are jus...   4
4  We don't always get to choose our life's calli...   5

In [7]:
test_data = test_data[['id', 'content']]
display(test_data.head(n=2))
test_data.to_csv('../data/test_data.csv', encoding='utf-8', index=False)

   id                                            content
0   1  When someone commits a murder they typically g...
1   2  James Milner may not be one of the most exciti...

In [1]:
import numpy as np

In [22]:
a = np.array([[1, 2, 3, 4],
             [5, 6, 7, 8]])
np.random.choice()

ValueError: operands could not be broadcast together with shapes (2,4) (2,)